<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zingchart.quandl" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Quandl</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
    	<!-- you can use any density that exists in the Android project -->
    	<splash src="www/img/zingchart_logo_copy.png" density="land-hdpi"/>
	</platform>
</widget>
